* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#griglia {
    width: 800px;
    height: 800px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: calc(100% / 10);
    aspect-ratio: 1;
    
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell-9{
    width: calc(100% / 9);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell-7{
    width: calc(100% / 7);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}